body {
background-color: #C4A484;
  font-family: monospace;
  text-align: center;
}

.workInfo{
  color: slategrey;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.card-image-wrapper {
  position: relative;
}

.card-image-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background: transparent;
}

@media (max-width: 768px){
.container {
  display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}
img {
  max-width: 80%;
  height: auto;
}
.workName{
font-weight: bolder;
font-size: 5vw;
}
p {font-size: 4vw;}
}

@media (min-width: 767px) and (max-width: 1025px){
.container {
  display: grid;
    grid-template-columns: 1fr;
    gap: 4em;
}
img {
  max-width: 70%;
  height: auto;
}
.workName{
font-weight: bolder;
font-size: 3vw;
}
p {font-size: 2.5vw;}
}

@media  (min-width: 1025px) {
h1 { font-size: 4vw;}
h2 {font-size: 2vw;}
p {font-size: 1vw;}
.workName{
font-weight: bolder;
font-size: 1.5vw;
}
img {
  max-width: 56%;
  height: auto;
}
.container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 4em;
}
}
